# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
venv/
env/
.env
dist/
build/
*.whl

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Windows binaries / assemblies
*.exe
*.winmd
*.dll
*.pdb
